<script lang="ts">
	// The ordering of these imports is critical to your app working properly
	import '@skeletonlabs/skeleton/themes/theme-modern.css';

	import '@skeletonlabs/skeleton/styles/skeleton.css';

	import Fa from 'svelte-fa';
	import {
		faBars,
		faVideo,
		faVideoSlash,
		faImage,
		faCamera
	} from '@fortawesome/free-solid-svg-icons';
	import { faYoutube, faGoogle, faTwitter } from '@fortawesome/free-brands-svg-icons';

	import '../app.postcss';

	import { AppShell } from '@skeletonlabs/skeleton';
	import { AppBar } from '@skeletonlabs/skeleton';
	import { AppRail } from '@skeletonlabs/skeleton';
	import { AppRailAnchor } from '@skeletonlabs/skeleton';
	import { LightSwitch } from '@skeletonlabs/skeleton';

	import { page } from '$app/stores';
</script>

<AppShell regionPage="relative" slotPageHeader="sticky top-0 z-10">
	<svelte:fragment slot="header">
		<AppBar gridColumns="grid-cols-3" slotDefault="place-self-center" slotTrail="place-content-end">
			<svelte:fragment slot="lead">
				<Fa icon={faBars} size="2x" />
			</svelte:fragment>
			Edge Inference Demo
			<svelte:fragment slot="trail">
				<LightSwitch />
				<a href="/">Twitter</a>
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<!-- -->
	<svelte:fragment slot="sidebarLeft">
		<AppRail>
			<AppRailAnchor href="/" selected={$page.url.pathname === '/'}>Home</AppRailAnchor>
			<AppRailAnchor href="/ppe" selected={$page.url.pathname === '/ppe'}>PPE Demo</AppRailAnchor>
			<AppRailAnchor href="/object" selected={$page.url.pathname === '/object'}
				>Object Recogintion</AppRailAnchor
			>
			<AppRailAnchor href="/pose" selected={$page.url.pathname === '/pose'}>Pose Game</AppRailAnchor
			>
		</AppRail>
	</svelte:fragment>
	<!-- Start Page -->
	<!-- <svelte:fragment slot="pageHeader">&nbsp;</svelte:fragment> -->
	<div class="layout-docs-content page-container-aside">
		<slot />
	</div>
	<!-- <svelte:fragment slot="pageFooter">Page Footer</svelte:fragment> -->
	<!-- end page -->
	<svelte:fragment slot="footer">Footer</svelte:fragment>
</AppShell>
