<script lang="ts">

</script>

<div class="container h-full mx-auto flex justify-center items-center">
	<div class="space-y-5">
		<h1 class="h1">Future home of Object Recognition</h1>
	</div>
</div>

