<script>
	/**
	 * @type {string}
	 */
	export let title;

	/**
	 * @type{string}
	 */
	export let subTitle;
</script>


<!-- Text Header -->
<header class="w-full container mx-auto">
	<div class="flex flex-col items-center py-12">
		<a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="/">
			{title}
		</a>
		<p class="text-lg text-gray-600">
			{subTitle}
		</p>
	</div>
</header>
