{% extends 'base.html' %} {% block content %}

<h1 class="text-green-500 text-4xl font-bold">{{ page_title }}</h1>
<strong>{{ display_model_name }}</strong>
<div class="flex flex-row">
  <div class="basis-11/12">
    <img
      id="video"
      width="100%"
      height="100%"
      src="{{ url_for('static', filename=splash_image) }}"
    />
  </div>
  {% if show_internet == "true": %}
    <div class="basis-1/12 h-full object-none object-center ">
      <img
        id="internet-status"
        class="bg-yellow-300"
        style="background-color: green;" id="internet-status-background"
        src="{{ url_for('static', filename='interent-open-small.png') }}"
        />
    </div>
  {% else %}
    <div class="basis-1/12">
      &nbsp;
    </div>
  {% endif %}
</div>
<div class="flex flex-row">
  <div class="basis-11/12">
    Setup Info:
    <form name="rtsp-form" id="rtsp-form" action="#">
      <label for="rstp-url">
        <input
          type="text"
          name="rtsp-url"
          id="rtsp-url"
          value="{{ default_stream_url }}"
          placeholder="{{ default_stream_url }}"
        />
      </label>
      <input type="submit" name="rtsp-submit" id="rtsp-submit" value="Start" />
    </form>
    <a href="{{ url_for('main.stop_feed') }}">Reset</a>
  </div>
</div>

{% block javascript %}
<script>
  var URL_BASE = "{{ url_for('main.stream') }}";
  var INTERNET_BASE = "{{ url_for('main.internet_status') }}";
  rstpForm = document.getElementById("rtsp-form");

  document.getElementById("rtsp-submit").onclick = function () {
    // Submit button pressed, get the value, convert to base64 and replace the image
    url = document.getElementById("rtsp-url");
    if (url) {
      value = url.value.trim();
      if (value == "") {
        alert("RTSP URL is not valid");
      } else {
        updateStream(value);
      }
    }

    return false; // do not submit the form
  };

  function updateStream(target_url) {
    video = document.getElementById("video");
    encodedString = btoa(target_url);

    final_url = URL_BASE + "?url=" + encodedString;

    console.log("Final URL: " + final_url);
    video.src = final_url;
  }

  async function setInternetStatus(status) {
    var interentImage = document.getElementById("internet-status");
    value = await status;
    if (value == "True") {
      document.getElementById("internet-status-background").style.backgroundColor = "green";
      interentImage.src = "{{ url_for('static', filename='interent-open-small.png') }}";

    } else {
      document.getElementById("internet-status-background").style.backgroundColor = "red";
      interentImage.src = "{{ url_for('static', filename='interent-off-small.png') }}";
    }
  }

  //{% if show_internet == "true": %}
  setInterval(function () {
    fetch(INTERNET_BASE).then((response) => {
      setInternetStatus(response.text());
    });
  }, 2000);
  //{% endif %}

  // url = document.getElementById("rtsp-url");
  // if (url) {
  //   value = url.value.trim();
  //   if (value != "") {
  //     updateStream(value);
  //   }
  // }
</script>
{% endblock %}

{% endblock %}
