<script lang="ts">
	import { Accordion, AccordionItem } from '@skeletonlabs/skeleton';

	import Fa from 'svelte-fa';
	import { faVideo, faImage, faCamera } from '@fortawesome/free-solid-svg-icons';
	import { faYoutube, faGoogle, faTwitter } from '@fortawesome/free-brands-svg-icons';

	let submit: Promise<any> | null;

	function onSubmitRTSP(e: { target: HTMLFormElement | undefined }) {
		const formData = new FormData(e.target);

		const host = formData.get('rtspHost') as string;
		const user = formData.get('rtspUser') as string;
		const pass = formData.get('rtspPass') as string;

		// this neees to be sent to the server, get a URL back to replace
		const rtspFullPath = 'rtsp://' + user + ':' + pass + '@' + host;
		console.log(rtspFullPath);

		// videofeed



		// submit = fetch('http://localhost:5000/start', {
		// 	method: 'POST',
		// 	mode: "cors",
		// 	body: JSON.stringify({ url: "test" }),
		// 	headers: {
		// 		"Content-Type": "application/json",
		// 		// 'Content-type': 'application/x-www-form-urlencoded'
		// 	},
		// 	referrerPolicy: "origin", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
		// })
		// 	.then((resp) => resp.json())
		// 	.finally(() => setTimeout(() => (submit = null), 5000));
	}
</script>

<div class="flex justify-center h-full w-full items-center">
	<div class="container w-8/12">
		<div class="space-y-5 p-10">
			<h1 class="h1">Personal Protection Equipment Detector</h1>

			<div id="container" class="container border-gray-100 box-border border p-10">
				{#if submit}
					{#await submit}
						<p>Sending...</p>
					{:then resp}
						<p>🎉 Done!</p>
						<pre>RESPONSE: {JSON.stringify(resp, null, 2)}</pre>
					{/await}
				{/if}
				<!-- svelte-ignore a11y-media-has-caption -->
				<!-- <video autoplay playsinline id="videoElement" />
				<canvas id="canvas" /> -->
				<img id="videofeed" src="http://localhost:5000/stream?url=aHR0cDovL2xvY2FsaG9zdDo1MDAwL3N0YXRpYy9oYXQtbm8taGF0LWRlbW8ubXA0" alt="thefeed"/>
			</div>
		</div>
	</div>

	<div class="container h-full w-4/12">
		<div class="container p-10">
			<h2>Configuration</h2>
			<Accordion autocollapse>
				<AccordionItem>
					<svelte:fragment slot="lead"><Fa icon={faYoutube} size="1x" /></svelte:fragment>
					<svelte:fragment slot="summary">YouTube</svelte:fragment>
					<svelte:fragment slot="content">
						<form>
							<label class="label" for="youtubeUrl">
								<span>URLs</span>
								<input
									name="youtubeUrl"
									class="input"
									title="YouTube Feed URL"
									type="text"
									placeholder="https://youtube.com/..."
								/>
							</label>
							<button type="submit" class="btn variant-filled">Submit</button>
						</form>
					</svelte:fragment>
				</AccordionItem>
				<AccordionItem>
					<svelte:fragment slot="lead">
						<Fa icon={faVideo} size="1x" />
					</svelte:fragment>
					<svelte:fragment slot="summary">RTSP</svelte:fragment>
					<svelte:fragment slot="content">
						<form on:submit|preventDefault={onSubmitRTSP}>
							<label for="rtspUrl" class="label">
								<span>Host, Port & Path</span>
								<input
									class="input"
									name="rtspHost"
									title="RTSP Host, Port and Path"
									type="text"
									value="192.168.1.64:554/stream1"
									placeholder="192.168.1.64:554/stream1"
								/>
							</label>
							<label for="rtspUser" class="label">
								<span>User</span>
								<input
									class="input"
									name="rtspUser"
									title="RTSP User"
									type="text"
									value="camera-user"
									placeholder="camera-user"
								/>
							</label>
							<label for="rtspPass" class="label">
								<span>Password</span>
								<input
									class="input"
									name="rtspPass"
									title="RTSP URL"
									type="password"
									value="camera-exper!-pa$$"
									placeholder="RTSP password"
								/>
								<!-- rtsp://camera-user:camera-exper!-pa$$@192.168.1.64:554/stream1 -->
							</label>
							<button name="rtspSubmit" type="submit" class="btn variant-filled">
								<span>Submit</span>
							</button>
						</form>
					</svelte:fragment>
				</AccordionItem>
				<AccordionItem>
					<svelte:fragment slot="lead">
						<Fa icon={faImage} size="1x" />
					</svelte:fragment>
					<svelte:fragment slot="summary">Image</svelte:fragment>
					<svelte:fragment slot="content">
						<label for="fileUrl" class="label">
							<span>File</span>
							<input class="input" name="fileUrl" type="file" />
						</label>
						<button name="imageSubmit" type="button" class="btn variant-filled">
							<span>Submit</span>
						</button>
					</svelte:fragment>
				</AccordionItem>
				<AccordionItem>
					<svelte:fragment slot="lead">
						<Fa icon={faCamera} size="1x" />
					</svelte:fragment>
					<svelte:fragment slot="summary">Web Cam</svelte:fragment>
					<svelte:fragment slot="content">
						<button type="button" class="btn variant-filled">
							<span>Use Webcam</span>
						</button>
					</svelte:fragment>
				</AccordionItem>
				<!-- ... -->
			</Accordion>
		</div>
	</div>
</div>
